cache: bundler
sudo: false
language: ruby
rvm:
  - 2.4.2
  - 2.3.5
  - 2.2.8
  - rbx-3
  - jruby
matrix:
  allow_failures:
    - rvm: rbx-3
    - rvm: jruby
addons:
  apt:
    packages:
      - libgeos-c1
